.option-set__container {
  padding: 10px 70px;
  .option-set__button-box {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .option-set__wrapper {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    .option-set__add-button {
      height: 50px;
      display: flex;
      justify-content: center;
      border: 1px solid #352f6e;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      letter-spacing: 1px;
      background-color: white;
      align-items: center;
      padding: 0;
      width: calc(100% - 20px);
      margin: 0 10px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        font-weight: 600;
      }
    }
  }
}
