.option-set__container {
  padding: 10px 70px;
}
.option-set__button-box {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.option-set__wrapper {
  padding: 10px;
  background-color: white;
}
