input[type="date"],
input[type="datetime-local"] {
  width: 230px;
  height: 42px;
  text-align: center;
  font-weight: 700;
  border: 2px solid #efefef;
  border-radius: 6px;
  // margin-top: 1.5vh;
}
