.img__title {
  padding: 1.2rem;
  border-bottom: 1px solid #e3e3e3;
  font-weight: 600;
  box-sizing: border-box;
}
.img-place {
  min-height: 75px;
  padding: 1.2rem 1rem;
}
.product-image-uploader-info-box {
  margin: 10px 0 15px 0;
}
