.information__category__list__item {
  .custom-checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 1.7rem;
    margin-bottom: 0.5rem;

    .check-input {
      display: none;
    }
    .custom-checkbox {
      content: "";
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
      border: 1px solid #e3e3e3;
      border-radius: 0.3rem;
      background-color: white;
    }

    .custom-checkbox__title {
      padding-top: 0.2rem;
    }

    .check-input:checked ~ .custom-checkbox {
      content: "✔️";
      color: white;
      background-color: #352f6e;
    }

    .check-input:checked ~ .custom-checkbox::after {
      content: "✔︎";
      padding-left: 0.35rem;
      line-height: 1.6rem;
      color: white;
    }
  }
}
