input:focus {
  outline: none;
}

.name-menu {
  margin: 0;
  width: calc(70% / 2);
  padding: 1.5rem 0.8rem;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  .name-menu__unique-code {
    display: block;
    padding-left: 2rem;
    margin-top: 1.2rem;
  }
}

.product-input__container {
  height: 50px;
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.8rem;

  .product-input__input {
    border: none;
    font-size: 1.1rem;
    display: inline-block;
    width: 100%;
  }
}
