.filter-tag__container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem;
  color: #000;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #e3e3e3;
  border-radius: 0.5rem;
  box-sizing: border-box;

  .filter-tag__input {
    width: 80%;
    border: none;
    font-size: 1.1rem;
  }
  .filter-tag__btn {
    width: 100px;
    height: 40px;
    font-size: 1.1rem;
    background-color: white;
    border: 1px solid #3e3874;
    border-radius: 0.4rem;
    cursor: pointer;
    &:hover {
      box-shadow: 2px 2px 6px #e3e3e3;
    }
  }
}

.filter-tag__search-result {
  border: 1px solid #e3e3e3;
  border-radius: 0.8rem;
  padding: 1.2rem 1rem;
  height: 100px;
  overflow-y: scroll;
  .filter-tag__search-result__list {
    display: flex;
    flex-wrap: wrap;
    .filter-tag__search-result__item {
      background-color: #e8f7d4;
      margin: 0.5rem 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
      &:hover {
        box-shadow: 2px 2px 6px #e3e3e3;
      }
    }
    .filter-tag__search-result__no-result {
      display: inline-block;
      margin: auto;
      margin-top: 50px;
    }
  }
}
