.navigation__container {
  border-right: 2px solid #e3e3e3;
  width: 200px;
  height: 100vh;
  position: fixed;
  > div {
    height: 50px;
    display: flex;
    cursor: pointer;
    padding-left: 20px;
    align-items: center;
    transition: 0.5s;
    border-bottom: 1px solid #e3e3e3;
    &:hover {
      transition: 0.5s;
      font-size: 17px;
    }
  }
  .navigation__logo-box {
    height: 60px;
    .navigation__logo {
      width: 40%;
    }
  }
  .navigation__menu {
    position: relative;
    .navigation__menu-arrow {
      position: absolute;
      right: 20px;
      width: 10px;
    }
  }
  .navigation__subMenu,
  .navigation__currentMenu {
    padding-left: 25px;
  }
  .navigation__subMenu {
    background-color: #f7f7f7;
  }
  .navigation__currentMenu {
    background-color: #d6d5e2;
    color: #47417a;
  }
}
